<!DOCTYPE html>
<html lang="en">
<head>
  <style>

  </style>
  
  <script src="/socket.io/socket.io.js"></script>
  <title>Feed</title>
</head>
<body>

  
    <div id="contenti"></div>
   
  </div>
  <div class="">
    <form action="" method="">
      <input type="text" name="text" id="input" placeholder="enter the text">
      <input type="text" name="text" id="theme" placeholder="#enter_the_theme" >
      <button type="submit" onclick="Tracer()">Submit</button>
    </form>
  </div>
    <footer>
      <script src="../js/logic.js"></script>
      <script>
              
      </script>
    </footer>
</body>
</html>